body{
	font-family: 'Raleway', sans-serif;
	color: #515259;
	margin: auto;
	max-width: 1500px;
}

/*types*/

h1{
	font-weight: 900;
	font-size: 3em;
	text-align: left;
	color: #1B1B1F;
}

h2{
	font-weight: 400;
	font-size: 1.1em;
	text-align: left;
	font-family: 'Raleway', sans-serif;
	line-height: 35px;
	letter-spacing: 1px;
	color: #515259;
}

h3{
	font-weight: 900;
	font-size: 2.6em;
	text-align: left;
	font-family: 'Raleway', sans-serif;
	color:#1B1B1F;
	overflow-wrap: break-word;
}

h4{
	font-weight: 900;
	font-size: 2.4em;
	text-align: left;
	font-family: 'Raleway', sans-serif;
	color:#808EDE;
	line-height: 45px;
	opacity: 0.4;
}

h5{
	font-weight: 700;
	font-size: 1.2em;
	text-align: left;
	font-family: 'Raleway', sans-serif;
	color:#1B1B1F;
	margin: 0;
}

p{
	font-weight: 400;
	font-size: 1em;
	text-align: left;
	font-family: 'Raleway', sans-serif;
	line-height: 30px;
    letter-spacing: 1px;
    color: #515259;
    padding-bottom: 40px;
}

a{
	text-decoration: none;
}

p a {
	color: #1CD6BF;
}

p a:hover {
	color: #FBCA51;
}

#font_strong {
	font-weight: 600;
}


/*buttons*/

.button_principal {
	background-color: #0BCDB5;
	padding: 20px 15px;
	border-radius: 5px;
	box-shadow: 10px 10px 20px #c3c5d2;
	font-weight: 700;
	font-size: 1.2em;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	color: #FFFFFF; 
	min-width: 220px;
}

.button_secondary {
	background-color: #FFD24F;
	padding: 20px 15px;
	border-radius: 5px;
	box-shadow: 10px 10px 20px #c3c5d2;
	font-weight: 700;
	font-size: 1.2em;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	color: #FFFFFF;
}

.button_third {
	background-color: #808EDE;
	padding: 20px 15px;
	border-radius: 5px;
	box-shadow: 10px 10px 20px #c3c5d2;
	font-weight: 700;
	font-size: 1.2em;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	color: #FFFFFF;
	min-width: 180px; 
}

.button_secondary_ghost{
	background: transparent;
    color: #FFD24F;
    box-shadow: initial;
    border: solid 1px #FFD24F;
    max-width: 160px;
    margin: 0 auto;
    padding: 20px 15px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 1.2em;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

/*buttons hover - a*/

.button_principal:hover {
	background-color: #06B59B;
}

.button_secondary:hover {
	background-color: #FBCA51;
}

.button_third:hover {
	background-color: #6B7BDA;
	color: #FFFFFF;
	border: none;
}

.button_secondary_ghost:hover{
	color: #FFFFFF;
	background-color: #FFD24F;
	box-shadow: 10px 10px 20px #c3c5d2;

}


.button_principal a {
	color: #FFFFFF;
}

.button_secondary a {
	color: #FFFFFF;
}

.button_third a {
	color: #022B4B;
}

.button_third a:hover {
	color: #FFFFFF;
}



/*nav_bar*/
nav {
	position: fixed;
	max-width: 1500px;
	width: 100%;
}

.nav_bar.hidden {
	visibility: hidden;
}

.nav_logo img{
	width: 40px;
    padding: 20px 50px;
}

.nav_left{
	float: left;
	width: 10%;
}

.nav_right{
	float: right;
	width: 85%;
}

.nav_right ul li a{
	padding: 10px;
	margin-left: 20px;
}

ul {
	display: flex;
    position: relative;
    padding: 20px 50px 20px 0;
    float: right;
}

li {
	list-style: none;
}

li a{
	color: #FFFFFF;
	font-weight: 700;
	font-size: 1em;
	text-align: right;
	font-family: 'Raleway', sans-serif;
	line-height: 30px;
    letter-spacing: 1px;
    border-radius: 5px;
}

/*header*/

.header {
	width: 100%;
    min-height: 650px;
    background-color: #F0F2FD;
}

.header_main {
	padding: 50px 0 110px;
    width: 80%;
    min-width: 780px;
    margin: auto;
}

.main_left{
	width: 60%;
    float: left;
}

.main_right{
	width: 40%;
	float: right;
	text-align: center;
}

.main_right img{
	width: 80%;
	padding-top: 30px;
}

.main_right_mov{
	display: none;
}

.main_buttons{
	width: 100%;
	padding: 60px 0;
}

.main_button_left{
	display: inline-block;
	float: left;
	width: 40%;
	min-width: 250px
}
.main_button_right{
	display: inline-block;
	float: right;
	width: 40%;
	min-width: 200px;
}



/*section1*/
.section1 {
	width: 100%;
	background-color: #F0F2FD;
	background-image: url("../img/bg_section1.svg");
  	background-repeat: no-repeat;
  	background-size: cover;
}  

.section1_main{
	padding: 110px 0 110px;
    width: 80%;
    margin: auto;
}

.section1_left{
	width: 50%;
    float: left;
}

.section1_right{
	width: 40%;
	float: right;
	text-align: center;
}

.section1_right img{
	width: 80%;
	min-width: 340px;
}


/*negocios*/
.negocios {
	width: 100%;
	background-image: url("../img/bg_negocios.svg");
  	background-size: contain;
}  

.negocios_1 {
	padding: 110px 0 50px;
    width: 80%;
    margin: auto;
}

.negocios_left{
	width: 45%;
    float: left;
}

.negocios_right{
	width: 45%;
	float: right;
	text-align: center;
}

.negocios_right img{
	width: 100%;
	padding-top: 60px;
	
}

.negocios_left img{
	width: 100%;
	padding-top: 60px;
	
}

.negocios_button{
	width: 60%;
}

.negocios_0 {
	display: none;
}


.one_row{
	padding: 50px;
    width: 80%;
    margin: 100px auto;
    border: solid 2px #F0F2FD;
	border-radius: 5px;
	background-color: #ffffff;
}

.one_row .main_right img{
	width: 100%;
	padding: initial;
}

.one_row .negocios_left p{
	padding: initial;
}

/*feed*/
.feed {
	width: 100%;
	background-image: url("../img/bg_feed.svg");
  	background-repeat: no-repeat;
  	background-size: cover;
  	background-color: #F0F2FD;
	padding: 0 0 80px;
	min-height: 500px;
}  

.case_resolved {

	padding: 15px 15px;
	font-weight: 700;
	font-size: 1.2em;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	color: #6B7BDA;
	min-width: 100px;
	border: 0; 
}

.caso_feed{
	width: 30%;
	border-radius: 5px;
    margin: 10px 0 40px 25px;
    border: solid #F0F2FD 1px;
    background-color: #ffffff;
    float: left;
    min-height: 270px;
}

.ser_voluntario{
	width: 30%;
	border-radius: 5px;
    margin: 10px 0 40px 25px;
    background-color: #ffffff;
    float: left;
    min-height: 270px;
}

.ser_voluntario .feed_button {
	margin: 50px auto 0;
}

.ser_voluntario .button_third {
	background-color: #808EDE;
}

.ser_voluntario .button_third:hover {
	background-color: #6B7BDA;
}

.caso_detalle{
	width: 50%;
	border-radius: 5px;
	box-shadow: 10px 10px 20px #DEE0EB;
    margin: 40px auto 120px;
    border: solid #F0F2FD 1px;
    background-color: #ffffff;
    min-width: 710px; 
}

.caso_detalle #descripcion_actividad{
	overflow: initial;
    text-overflow: initial;
    display: initial;
    -webkit-line-clamp: initial;
    -webkit-box-orient: initial;
}


.info_formulario{
	padding: 15px;
}

.info_formulario p {
	font-weight: 400;
    font-size: 1em;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: #515259;
    padding: initial;
}



.feed_button{
	padding: 15px 0 0;
	margin: 0 auto;
}

.feed_calltoaction {
	width: 60%;
	padding: 15px 0 0;
	float: left;

}

.feed_button .button_secondary{
	max-width: 160px;
    margin: 0 auto;
}


.terms_and_conditions{
	font-weight: 400;
    font-size: 1em;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: #515259;
    display: inline-block;
}

#email-voluntario{
	border: 1px solid #C3C5D2;
    padding: 10px;
    border-radius: 5px;
    color: #92949E;
    font-size: 0.8em;
    font-family: 'Raleway', sans-serif;
    width: 75%;
    display: block;
    margin-top: 20px;
}

.input_checkbox {
	display: inline-block;
	padding: 0 20px;
}

.texto-libre{
	width: 50%;
    margin: 0 auto;
    min-width: 710px; 
}


.negocios_button {
	width: 90%;
    margin: auto;
    max-width: 250px;
}

#nombre_negocio {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1; 
	-webkit-box-orient: vertical;
}


#descripcion_actividad {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3; 
	-webkit-box-orient: vertical;
}

#descripcion_necesidad{
	font-weight: 600;
}
/*footer*/
.footer {
	width: 100%;
  	background-color: #1B1B1F;
  	color: #FFFFFF;
  	padding-bottom: 150px;
}  

.footer_1 {
	padding: 70px 0 50px;
    width: 80%;
    margin: auto;
}

.footer_2 {
	padding-top: 50px;
    width: 80%;
    margin: auto;
}

.footer_left{
	width: 50%;
    float: left;
}

.footer_right{
	width: 40%;
	float: right;
	text-align: center;
}

.footer_button{
	width: 60%;
}

.footer p {
    color: #C3C5D2;
}

.footer h3{
    color: #FFFFFF;
}



.social a {
	padding-right: 70px;
}



.webmap{
	width: 80%;
    margin: auto;
}

.webmap ul{
	width: 100%;
	min-width: 600px;
	float: left;
}

.webmap ul li{
	padding-right: 40px;
}

.webmap ul li a p{
	color: #0BCDB5;
}




/*********** transición *************/

@media (max-width: 920px)

{
/*Type*/

h1{
	font-size: 2.3em;
}

/*buttons*/

.button_principal {
	min-width: initial;
}

.button_secondary {
	min-width: initial;
 
}

.button_third {
	min-width: initial;
 
}

.button_secondary_ghost {
	min-width: initial;
 
}

/*navbar*/
nav {
	width: 100%;
}

#nav_casos{
	display: none;
}

.nav_logo img {
    padding: 20px 20px;
}

ul {
    padding: 10px 20px 20px 0;
}

/*header*/

.header {
	width: 100%;
    min-height: 100px;
    padding-top: 40px;
    background-color: #F0F2FD;
}

.header_main {
	padding: 0 0 70px;
    width: 90%;
    margin: auto;
    min-width: initial;
}

.main_left{
	width: 100%;
    float: initial;
    display: block;
}

.main_right{
	display: none;
}

.main_right_mov {
	display: block;
	width: 100%;
	float: initial;
	min-width: 150px;
	margin: auto;
	padding: 20px 0;
}
.main_right_mov img{
	width: 55%;
	padding-top: 30px;
	min-width: 75px;
}


.main_buttons{
	width: 100%;
	padding: 0;
}

.main_button_left{
	display: block;
    float: initial;
    width: 80%;
    min-width: 200px;
    margin: 50px auto 20px;
    max-width: 310px;
}
.main_button_right{
	display: block;
    float: initial;
    width: 80%;
    min-width: 200px;
    margin: 40px auto;
    max-width: 310px;
}


/*section1*/
.section1 {
	width: 100%;
	background-image: url("../img/bg_section1_mov.svg");
  	background-repeat: no-repeat;
  	background-size: contain;
}  

.section1_main{
	padding: 50px 0 60px;
    width: 80%;
    margin: auto;
}

.section1_left{
	width: 100%;
    float: initial;
    display: block;
}

.section1_right{
	width: 100%;
	float: initial;
	text-align: center;
	padding-top: 35px;
}

.section1_right img{
	width: 100%;
	min-width: initial;
}

/*negocios*/
.negocios {
	width: 100%;
	background-image: url("../img/background_negocios_mov.svg");
  	background-repeat: no-repeat;
  	background-size: cover;
}  

.negocios_1{
	padding: 0 0 50px;
    width: 80%;
    margin: auto;
}

.negocios_left{
	width: 100%;
    float: initial;
    display: block;
}

.negocios_left img{
	display: none;
}

.negocios_right{
	width: 100%;
	float: initial;
	text-align: center;
	padding-top: 35px;
}

.negocios_button{
	width: 80%;
	max-width: 310px;
	padding: 20px 0;
	margin: auto;
}


.one_row{
	width: 65%;
	padding: 30px;
}

.one_row .main_right {
	display: initial;
	width: 100%;
	padding: 30px 0;
}


/*voluntarios*/
.voluntarios {
	width: 100%;
	background-image: url("../img/bg_voluntarios_mov.png");
  	background-repeat: no-repeat;
  	background-size: contain;
    background-position: right;
	padding: 40px 0 70px;
}  

.voluntarios_1{
	padding: 10px 0 60px;
    width: 80%;
    margin: auto;
}

.voluntarios_left{
	width: 100%;
    float: initial;
    display: block;
}

.voluntarios_right{
	width: 100%;
	float: initial;
	text-align: center;
	padding-top: 35px;
}

.voluntarios_button{
	width: 80%;
	max-width: 310px;
	padding: 20px 0;
	margin: auto;
}


/*feed*/
.feed {
	width: 100%;
	background-image: url("../img/bg_feed_mov.svg");
  	background-repeat: repeat;
  	background-size: cover;
  	padding: 50px 0;
  	min-height: initial;
}  

.caso_feed {
	width: 95%;
	float: initial;
	margin: 30px auto;
	min-height: initial;
}

.ser_voluntario {
	width: 95%;
	float: initial;
	margin: 30px auto;
	min-height: initial;
}

.caso_detalle {
	width: 95%;
	min-width: initial;
}

.texto-libre {
	width: 80%;
	min-width: initial;
}

.feed_calltoaction{
	width: 100%;
	float: initial;
	padding: 0;
	border-top: solid 1px #F0F2FD;
}

.feed_calltoaction p{
	  margin: 10px 0;
}

.feed_button {
	margin: auto;
	padding-top: 0;
	width: 100%;
}






/*footer*/
.footer {
	width: 100%;
	padding: 20px 0 80px;
}  

.footer_1{
	padding: 10px 0 50px;
    width: 80%;
    margin: auto;
}

.footer_2 {
	padding-top: 0;
}

.footer_left{
	width: 100%;
    float: initial;
    display: block;
}

.footer_right{
	width: 100%;
	float: initial;
	text-align: center;
	padding-top: 35px;
}

.footer_right img{
	display: none;
}

.footer_button{
	width: 80%;
	max-width: 310px;
	padding: 50px 0;
	margin: auto;
}

.social a{
	padding: 35px 35px 35px 0;
} 



.webmap{
	width: 80%;
    margin: auto;
    padding-bottom: 80px;
}

.webmap ul{
	width: 100%;
	min-width: initial;
	float: initial;
	display: block;
    position: initial;
    padding: initial;
}

.webmap ul li{
	padding-right: 40px;
	max-height: 40px;
}




}

